<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mountreachsolution.societymanagementsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SocietyManagementSystem">
        <activity android:name=".Maintenance.AddMaintenance"></activity>
        <activity android:name=".Maintenance.ViewIndividualMaintenanceOfficerScreen"></activity>
        <activity android:name=".Residence.AddComplaint_FeedbackScreen" />
        <activity android:name=".Residence.ViewMaintenanceScreen" />
        <activity android:name=".Admin.Notice.AddNoticeScreen" />
        <activity android:name=".Admin.Maintenance.AddMaintenanceOfficerScreen" />
        <activity android:name=".Admin.Maintenance.ViewMaintenanceOfficerScreen" />
        <activity android:name=".Admin.Complaint_Feedback.ViewComplaints_FeedbackScreen" />
        <activity android:name=".Admin.Notice.ViewNoticeScreen" />
        <activity android:name=".Admin.Maintenance.ViewMaintenanceScreen" />
        <activity android:name=".Admin.Resident.ViewResidenentScreen" />
        <activity android:name=".Admin.Resident.AddResidentScreen" />
        <activity android:name=".Maintenance.MaintenanceHomeScreen" />
        <activity android:name=".Admin.AdminHomeScreen" />
        <activity android:name=".Residence.HomeScreen" />
        <activity
            android:name=".LoginScreen"
            android:theme="@style/Theme.SocietyManagementSystem.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.SocietyManagementSystem.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>